<div class="container">
  <div class="jumbotron">
    <h1 >Activity Overload</h1>

    <h2>...tracking app activity better than the NSA since 1889.</h2>
    <a class="btn btn-success btn-sm" href="/user/new" >Sign up now</a>
  </div>
</div>